{% extends 'RBTHTestBundle::public.layout.html.twig'%}

{% block content %}
    <h3 id="myModalLabel">Опрос</h3>

    <form method="post" class="ajax" action="{{ path("public_new") }}" {{ form_enctype(form) }}>

            <p>
                {{ form_widget(form) }}
            </p>

        <button class="btn btn-primary submit-form">Сохранить</button>

    </form>

{% endblock %}
